/* custom.scss */            
$brand: #07689F;    
$brand-secondary:#11D3BC;

// typography for headers
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: Muli;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; 
} 
.navbar {
    padding: 1rem 2rem;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: 1.25em;
}
a {
    color: $brand-secondary;
}
/* Main */
.cover {
    height: 100vh;
    width: 100%;
    background: no-repeat url('stock.jpg');

}

body 
{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: $brand
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* forms  */
form {
    /* Center the form on the page */
    margin: 0 auto;
    max-width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    
    label {
        display: block;
        text-align: left;
        color: white;
    }
}

.form {
    &-noborder {
        border: none;
        padding: 0;
    }
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link,
.brand:hover, .brand:focus {
    color: $brand-secondary;
    text-decoration: underline;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
                0 3px 1px -2px rgba(0, 0, 0, .2),
                0 1px 5px 0 rgba(0, 0, 0, .12);
    
}

// Tables
table {
    color: white;
}

.table-history {
    color: black;
}