{% extends "layout.html" %}

{% block title %}
Buy Stock
{% endblock %}

{% block main %}
<form action="/buy" method="post">
    <div class="form-group">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" id="symbol" name="symbol" class="form-control" placeholder="e.g. FB">
    </div>
    <div class="form-group">
        <label for="shares">Shares </label>
        <input type="number" id="shares" name="shares" class="form-control" placeholder="number of shares to buy">
    </div>
    <button type="submit" class='btn btn-primary btn-block'>Purchase Stock</button>
</form>

{% endblock %}