{% extends "layout.html" %}

{% block title %}
My Account
{% endblock %}

{% block main %}
<form action="/changepw" method="post">
    <div class="form-group">
        <label for="cur_pw"> Current Password</label>
        <input type="password" class="form-control" name="cur_pw">
    </div>
    <div class="form-group">
        <label for="new-pw"> New Password</label>
        <input type="password" class="form-control" name="new_pw">
    </div>
    <div class="form-group">
        <label for="confirm-pw"> Confirm New Password</label>
        <input type="password" class="form-control" name="confirm_pw" id="confirm-pw">
    </div>
    <button type="submit" class="btn btn-primary btn-outline-light btn-lg btn-block"> Change Password </button>
</form>
{% endblock %}