{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block main %}
<header>
    {% if message %}
    <div class='alert alert-primary text-center'>{{ message }}</div>
    {% endif %}
</header>

<main class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Shares Owned</th>
                <th>Current Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        {% for row in rows %}
        <tr>
            <td name="symbol">{{ row['symbol'] }}</td>
            <td name="shares">{{ row['shares'] }}</td>
            <td name="price">{{ row['current_price'] }}</td>
            <td name="total_stock_value">{{ row['total_stock_value'] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td>{{ cash }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ total_cash_value }}</td>
        </tr>
    </table>
</main>
{% endblock %}