{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="./register" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="password">
    </div>
    <div class="form-group">
        <label for="confirmation">Password</label>
        <input type="password" name="confrimation" class="form-control" id="confirmation" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}